h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
	background-color: #fff;
}

.banner {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.eclipse {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.second-banner {
	background-image: url(../public/images/banners/tesla-banner.jpg);
	height: 710px;
}

.second-banner__subholder {
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	row-gap: 30px;
}

.second-banner__subtittle {
	font-size: 35px;
	color: #fefefefe;
	text-align: center;
	align-self: end;
}

.second-banner__button {
	padding: 11px 56px;
	background-color: #e60002;
	color: #fefefefe;
	border: none;
	border-radius: 5%;
}

.second-banner__button:hover {
	cursor: pointer;
	opacity: 0.8;
}

.third-banner {
	background-image: url(../public/images/banners/tesla-banner-2.jpg);
	position: relative;
	min-height: 960px;
	padding-bottom: 95px;
}

.third-banner::after {
	background-color: rgba(255, 255, 255, 0.8);
}

.third::after {
	content: '';
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.third * {
	z-index: 1;
	position: relative;
}

.category-title {
	padding: 135px 0 60px;
	font-family: 'GothamProLight';
	font-size: 40px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

@media (max-width: 479px) {
	.category-title {
		font-size: 30px;
	}
}

.button {
	background-color: transparent;
	border: 1px solid #e60002;
	border-radius: 0;
	color: #e60002;
	font-family: 'GothamProMedium';
	padding: 10px 15px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1.42857143;
	touch-action: manipulation;
	display: inline-block;
	margin-bottom: 10px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

.button:focus {
	outline-offset: -2px;
}

.button.active,
.button:focus,
.button:hover {
	background-color: #e60002;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fefefe;
	outline: none !important;
	background-image: none;
}

.button:active {
	background-color: #c40512;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (max-width: 1200px) {
	.container {
		width: 900px;
	}
}

@media (max-width: 992px) {
	.container {
		width: 720px;
	}
}

@media (max-width: 767px) {
	.container {
		width: 750px;
		padding-left: 15px;
		padding-right: 15px;
		max-width: 100%;
	}
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	box-sizing: border-box;
	font-size: 14px;
	margin-left: -15px;
	margin-right: -15px;
}

@media (max-width: 767px) {
	.row {
		grid-template-columns: 1fr;
		margin-left: -10px;
		margin-right: -10px;
	}
}

.service {
	margin-bottom: 55px;
	padding-left: 65px;
	font-family: 'GothamProRegular';
}

.service p {
	padding-left: 15px;
	margin: 0 0 20px;
	line-height: 24px;
	font-size: 16px;
	color: #383838;
}
@media (max-width: 767px) {
	.service {
		margin-bottom: 10px;
		padding-left: 35px;
	}

	.service > * {
		padding-left: 15px;
	}
}

.title {
	padding-left: 15px;
	font-family: 'GothamProBold';
	font-size: 20px;
	margin: 15px 0 25px;
}

.third-banner .service ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	font-size: 16px;
	color: #383838;
}

.third-banner .service ul li {
	margin-bottom: 8px;
	padding-left: 1.5em;
	text-indent: -0.7em;
	line-height: 24px;
}

.third-banner .service ul li:before {
	content: ' ';
	color: #e60002;
}

.third-banner button {
	margin-left: 65px;
}

@media (max-width: 767px) {
	.third-banner button {
		margin-left: 32px;
	}
}

.step-one:after,
.step-two:after,
.step-three:after,
.step-four:after {
	background-color: #e60002 !important;
	border-radius: 50%;
	color: #fefefe;
	display: block;
	font-family: 'GothamProMedium';
}

.step-one::after {
	content: '1' !important;
}

.step-two::after {
	content: '2' !important;
}

.step-three::after {
	content: '3' !important;
}

.step-four::after {
	content: '4' !important;
}

.step-one::after,
.step-two::after,
.step-three::after,
.step-four::after {
	text-align: center;
	font-size: 25px;
	height: 65px;
	left: 0;
	padding-bottom: 14px;
	padding-top: 22px;
	position: absolute;
	top: -7px;
	width: 65px;
}

@media (max-width: 767px) {
	.third-banner .service.step-one:after,
	.third-banner .service.step-two:after,
	.third-banner .service.step-three:after,
	.third-banner .service.step-four:after {
		height: 40px;
		left: 3px;
		padding: 11px;
		position: absolute;
		top: 5px;
		width: 40px;
		font-size: 20px;
	}
}

.locations {
	height: 500px;
	position: relative;
	width: 100%;
}

.join {
	background: rgba(255, 255, 255, 0.8);
	padding: 40px;
	position: absolute;
	right: 185px;
	text-align: center;
	top: 95px;
	width: 350px;
	line-height: 1.42857143;
}

.locations .join p {
	font-family: 'GothamProMedium';
	font-size: 30px;
	margin: 0 0 40px 0;
}

@media (max-width: 767px) {
	.join {
		padding: 40px 10px;
		right: 45px;
	}

	.join p {
		font-size: 26px;
		margin-bottom: 20px;
	}
}

@media (max-width: 479px) {
	.join {
		right: calc(50% - 110px);
		width: 220px;
	}
}

.news-element {
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	width: 33.33333333%;
}
.news-elements {
	padding: 15px;
}

.row-news {
	grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 575px) and (max-width: 772px) {
	.row-news {
		grid-template-columns: 1fr 1fr;
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media (max-width: 575px) {
	.row-news {
		grid-template-columns: 1fr;
	}
}
.item {
	font-size: 16px;
	text-align: left;
	border: 1px solid #d7d7d7;
	position: relative;
	font-family: 'GothamProRegular';
}

@media (min-width: 576px) {
	.item {
		height: 535px;
	}
}

.news .item *:not(img) {
	padding-left: 15px;
	padding-right: 15px;
}

.item span {
	font-size: 14px;
}

.img-news {
	display: block;
	max-width: 100%;
	height: 199px;
	width: 100%;
}

.news .item h4 {
	font-family: 'GothamProMedium';
	font-size: 20px;
	margin: 30px 0 10px;
	line-height: 22px;
	max-height: 44px;
	overflow-y: hidden;
	position: relative;
}

.news .item p {
	line-height: 20px;
	margin: 30px 0;
	max-height: 118px;
	overflow-y: hidden;
	position: relative;
}

.news .item span:last-of-type {
	color: black;
	bottom: 15px;
	display: block;
	font-family: GothamProMedium;
	font-size: 15px;
	font-weight: bold;
	position: absolute;
}





/* FOOTER */


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
		width: 150px;
}
.mail, .logo, .phone, .address, footer > div > div > div:first-child a > span {
    display: block;
    color: #383838;
    font-size: 16px;
    margin: 0;
    padding-left: 45px;
    position: relative;
    text-decoration: none;
    width: 225px;
}
