.banner {
	height: 710px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.eclipse {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
/* second-banner styles */
.second-banner {
	background-image: url(../public/images/banners/tesla-banner.jpg);
}
.second-banner__subholder {
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	row-gap: 30px;
}
.second-banner__subtittle {
	font-size: 35px;
	color: #fefefefe;
	text-align: center;
	align-self: end;
}
.second-banner__button {
	padding: 11px 56px;
	background-color: #e60002;
	color: #fefefefe;
	border: none;
	border-radius: 5%;
}
.second-banner__button:hover {
	cursor: pointer;
	opacity: 0.8;
}
