*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Gotham';
    src: url("/public/fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  }
.header{
    height: 100px;
    display: grid;
    grid-template-columns: minmax(max-content, 180px) minmax(max-content, 1fr) minmax(max-content, 280px);
    gap: 10px;
    justify-content: center;
    font-family: 'Gotham';
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 999;
}
.header--active{
    background-color: #fff;
    transition: 0.5s;
}
.menu__link-item--active{
    color: #605e5f;
    transition: 0.3s;
}
/*Logo*/
.logo{
    display: grid;
}
.logo__link{
    display: grid;
    justify-items: end;
    align-items: center;
}
.logo__link img{
    height: 67px;
}
/*Menu*/
.menu{
    display: grid;
    grid-template-columns: repeat(6, max-content);
    gap: 70px;
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
}
.menu__link{
    display: grid;
    text-decoration: none;
    align-items: center;
    font-size: 18px;
    color: #fff;
}
.menu__link:hover{
    color: #e60002;
}
.menu__link:active{
    color: #e60002;
}

/*Contact number*/
.contact-number{
    display: grid;
    justify-items: start;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.contact-number__item{
    border: none;
}
.contact-number__item--active{
    color: black;
    transition: 0.3s;
}
/*burger menu*/
.burger-btn, .burger-menu{
    display: none;
}
.burger-menu--active{
    display: grid;
    padding-top: 97px;
    position: fixed;
    width: 100%;
    z-index: 888;
    background-color: #fff;
}
.burger-menu__link-item{
    color: #605e5f;
}
.burger-menu__link-contact{
    color: black;
    font-size: 22px;
    font-weight: 600;
}
.menu__link:active{
    color: #e60002;
}

/*Video*/
.video{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Gotham";
}
.video__body{
    padding: 100px 15px;
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.video__title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}
.video__btn{
    font-size: 22px;
    color: #fff;
    background-color: #e60002;
    font-weight: 400;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 55px;
    border: 1px;
    border-radius: 4px;
}
.video__btn:hover{
    background-color: #b50003;
}
.video__btn:active{
    background-color: #b50003;
    font-size: 20px;
    margin-top: 22px;
}
.video__self{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Перший блок*/
.first-block{
    background-color: aqua;
    position: relative;
    z-index: 4;
}
.first-block__container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 15px;
    font-size: 18px;
}

@media (min-width:1401px){
    .menu{
        gap: 50px;
    }
    .menu__link{
        font-size: 17px;
    }
    .contact-number{
        font-size: 21px;
    }
}
@media (min-width:1201px) and (max-width:1400px){
    .header{
        grid-template-columns: minmax(max-content, 140px) minmax(max-content, 1fr) minmax(max-content, 254px);
    }
    .menu{
        gap: 40px;
    }
    .menu__link{
        font-size: 16px;
    }
    .contact-number{
        font-size: 21px;
    }
}
@media (min-width:991px) and (max-width:1200px){
    .header{
        grid-template-columns: minmax(max-content, 130px) minmax(max-content, 1fr) minmax(max-content, 215px);
    }
    .menu{
        gap: 10px;
    }
    .menu__link{
        font-size: 16px;
    }
    .contact-number{
        font-size: 19px;
    }
}
@media (max-width: 990px){
    .menu{
        display: none;
    }
    .contact-number{
        display: none;
    }
    .header{
        height: 97px;
        grid-template-columns: 145px 1fr 100px;
        gap: 0;
    }
    .logo__link{
        justify-items: center;
    }
    /*Бургер кнопка і меню*/
    .burger-btn{
        display: grid;
        cursor: pointer;
        grid-column: 3;
        justify-items: center;
        align-items: center;
    }
    .burger-menu{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 40px);
        font-family: 'Gotham';
        
    }
    .menu__link{
        padding-left: 30px;
    }
}





